.historic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.historic-header {
    color: #000000a6;
    border-bottom: 1px solid #000000a6;
    padding: .8rem;
}

.historic-orders {
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
}


@media screen and (max-width: 450px) {
    .historic-orders, .historic-header {
        padding: .8rem 0;
    }   
}