.container-product-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 170px 20px 50px;
    height: auto;
}

/*Container do produto*/

.product-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    font-size: 20px;
    align-items: center;
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.137);
}

/*Informações do produto*/

.info-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8rem;
    gap: .8rem;
    margin-bottom: 1rem;
}

.page-title {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

.brand {
    opacity: .8;
}

.price-info {
    display: flex;
    align-items: end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.price {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
}

.actual-price {
    color: #00D878;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    width: 100%;
    line-height: 29px;
}

.discount-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    color: #fff;
    background-color: #0076FF;
    font-size: 11px;
    border-radius: 5px;
    width: 45px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.past-price {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    font-size: 13px;
}

.past-price span {
    text-decoration: line-through;
}

.choose-size {
    margin-bottom: 1rem;
}

.size {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.size-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.size-btn:hover {
    border-color: #0076FF;
}

.select-size {
    border: 3px solid #0076FF;
    background-color: #0077ff1f;
}

.size-message {
    display: none;
    font-weight: 700;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.add-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 1rem 0;
    width: 90%;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1rem;
    border: 1px solid rgb(26, 26, 26);
}

.add-cart-btn svg {
    margin-left: .5rem;
}

.add-cart-btn:hover {
    opacity: .8;
}

.add-favorite-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: rgb(26, 26, 26);
    border: 1px solid rgb(26, 26, 26);
    padding: 1rem 0;
    width: 90%;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1rem;
}

.add-favorite-btn svg {
    margin-left: .5rem;
    font-size: 20px;
}

.add-favorite-btn:hover {
    opacity: .8;
}

@media (max-width: 850px) {
    .container-product-page {
        padding: 120px 0px 50px;
    }

    .product-page {
        flex-direction: column;
        padding: 1rem;
    }   

    .add-cart-mobile-btn {
        width: 100%;
        border: none;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgb(26, 26, 26);
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .container-product-page {
        padding: 0px;
        height: auto;
    } 

    .product-page {
        width: 100%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 1rem;
        padding-top: 130px;
        padding-bottom: 30px;
        border-radius: 0;
    }

    .info-buy {
        gap: 1rem;
        align-self: center;
    }
    
    .page-title {
        font-size: 30px;
        line-height: 35px;
    }

    .size {
        gap: 2rem;
    }

    .add-cart-mobile-btn {
        width: 100%;
        border-top: 2px solid #fff;
    }

    .add-cart-btn, .add-favorite-btn {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container-product-page {
        width: 100%;
        padding-top: 28.5px;
        margin: 0;
    }

    .product-page {
        align-items: none;
        padding: 100px 0px 50px 0px;
        gap: 1rem;
    }

    .info-buy {
        margin-top: 0;
        gap: .3rem;
    }

    .size {
        flex-wrap: nowrap;
    }

    .choose-size p {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .size-message {
        font-size: 14px;
    }
}