.bag-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 5px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
}

.bag-btn svg {
    transition: .2s ease-in-out;
}

.bag-btn:hover svg {
    scale: 1.1;
}

.notification {
    background-color: red;
    width: 15px;
    height: 15px;
    padding: .2rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
}