footer {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    color: #fff;
    gap: 1rem;
    justify-content: center;
}

.footer_content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem;
    border-bottom: 1px solid #fff;
}

.footer_content-section {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_section-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: .8rem;
}

.footer_section-text {
    font-size: 15px;
}

.footer_section-text span {
    font-weight: 700;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.footer_bottom-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    font-size: 30px;
}

.footer_bottom-icons svg {
    transition: .2s;
    cursor: pointer;
}

.footer_bottom-icons svg:hover {
    scale: 1.05;
}

.footer_content-section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 85%;
    padding: 0;
}

.footer_content-section form input[type="text"] {
    padding: .5rem 1.3rem;
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
}

.footer_content-section form button {
    padding: .5rem 1rem;
    background-color: rgb(20, 20, 20);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.footer_content-section form button:hover {
    background-color: black;
}