a {
    color: black;
    text-decoration: none;
}

/* Estilos do card */

.slider_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-width: 260px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.slider_card:hover {
    transform: translateY(-10px);
}

/* Imagem do card */

.slider_card-image {
    overflow: hidden;
    border-radius: 10px;
}

.slider_card-image img {
    width: 100%;
    transition: .3s ease-in-out;
    min-height: 100%;
}

/* Informações do card */

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.slider_card-price {
    font-weight: 700;
    font-size: 20px;
    color: #00D878;
}

.slider_card-title {
    font-size: 17px;
    opacity: .8;
}


@media screen and (max-width: 450px) {
    .slider_card {
        min-width: 333px;
    }    
}